/* AssignCompanyModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #f0f2f5;
  padding: 24px;
  border-radius: 8px;
  width: 700px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.modalHeader h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.modalBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.tableContainer {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px; 
  border: 1px solid #ddd;
  border-radius: 4px;
}

.searchSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.searchInputGroup {
  position: relative;
  flex: 2;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.searchInput {
  width: 100%;
  padding: 8px 12px 8px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.statusDropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.statusSelect {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
}

.companyTable {
  width: 100%;
  border-collapse: collapse;
}

.companyTable th,
.companyTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.companyTable th {
  background-color: #e9ebee;
  font-weight: bold;
  position: sticky;
  top:0;
  z-index: 1;
}

.selectedRow {
  background-color: #e0f0ff;
}

/* Nuevo estilo para centrar el contenido de la columna "Acciones" */
.centerActions {
  text-align: center;
}

/* Estilos del ícono de acción */
.actionIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: #212529; /* Establecemos el color por defecto a negro */
  font-size: 1.25rem;
  padding: 0;
}

.modalFooter {
  display: flex;
  /* Centrar el contenido a la izquierda */
  justify-content: flex-start;
  gap: 16px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
  margin-top: 16px;
}

.cancelButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.title{
    
    font-weight: bold;
}
