/* Estilo para el contenedor de la imagen */
.companyLogo {
  width: 100%;
  height: 150px;
  object-fit: contain; /* Esto asegura que la imagen no se recorte y se ajuste al contenedor */
  background-color: #f8f9fa; 
  border-bottom: 1px solid #ddd;
  padding: 10px; /* Espacio alrededor del logo */
}


/* Estilo para el título de la tarjeta */
.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #343a40;
}

/* Estilo para los iconos dentro de la tarjeta */
.cardText svg {
  margin-right: 8px; 
  color: #6c757d;
}

.activeStatus {
  font-weight: bold;
}
.activeStatus.textSuccess {
  color: #28a745;
}
.activeStatus.textDanger {
  color: #dc3545;
}