.iconButton {
  background-color: #10031C !important;
  color: #fff !important;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.iconButton:hover {
  background-color: transparent !important;
  color: #10031C !important;
  border: 1px solid #10031C !important;
}
.centeredButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Puedes ajustar el padding si es necesario */
}
