.container {

  border-radius: 1rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  color: #2c1a47;
  margin-bottom: 2rem;
}


.exportButtons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin: 1rem 0;
 
}
.exportLink {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: none;
  border: none;
  padding: 0;
  color: #1B043B;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}

p{
  font-size: 1rem;
  font-weight: bold;
  color:#10031C;
}

button.exportLink {
  background-color: #10031C;
  color: white;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
   transition: background-color 0.5s ease;
   width: 10rem;
   height: 3rem;
}
button.exportLink:hover{
  background: transparent;
  color: #10031C;
  border-color: #10031C; 
  border: 2px solid;
}
.tablaWrapper {
  overflow-x: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f6fb;
}

.tabla th,
.tabla td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla th {
  background-color: #fff;
  color: #3D3D3D;
}

.tabla tr:nth-child(even) {
  background-color: #ede6f5;
}

.tabla tr:hover {
  background-color: #ddd1f1;
}
.tablaWrapper {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #bbb;
  border-radius: 12px;
  background-color: white;
}
.tabla thead {
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
  z-index: 2;
}
.table_header{
  background-color: #2c1a47;
  color: #fff;
}

.table-header th {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}
