/* Contenedor principal (layout horizontal) */
.layoutRoot {
  min-height: 100vh;
  background: #ABA9BC;
  transition: background 0.3s;
  display: flex;
}

/* Área principal (main), tarjetas, etc */
.mainContent {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
  width: 100%;
  overflow-y: auto; /* Permite scroll vertical si el contenido es muy alto */
  padding: 1.5rem; /* Mantenemos tu padding */


}

.viewWrapper {
  width: 100%;
  max-width: 1200px; /* Límite para pantallas grandes */
  margin: 0 auto;    /* CLAVE: Centra el contenedor si la pantalla es más ancha que max-width */
  padding: 1.5rem 2rem;
}
