/* Contenedor principal (layout horizontal) */
.layoutRoot {
  min-height: 100vh;
  background: #ABA9BC;
  transition: background 0.3s;
  display: flex;
}

/* Área principal (main), tarjetas, etc */
.mainContent {
  flex-grow: 1;
  padding: 1.5rem; /* equivale a Bootstrap p-4 */
  border-radius: 24px;
  margin: 24px;
  background: #ABA9BC;
  box-shadow: 0 6px 32px rgba(30,16,62,0.09);
  min-height: 95vh;
  transition: margin-left 0.3s;
}
