.firmasContainer {
  display: flex;
  justify-content: space-around; /* Distribuye las firmas uniformemente */
  align-items: flex-start;
  flex-wrap: wrap; /* Permite que se apilen en pantallas pequeñas */
  margin-top: 4rem; /* Espacio amplio sobre las firmas */
  padding: 2rem 0;
  border-top: 1px solid #ccc; /* Línea divisoria */
  color: #000;
}

.firmaBloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 200px;
  margin: 1rem; /* Espacio por si se apilan */
}

.firmaBloque span {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.firmaBloque label {
  font-weight: bold;
  font-size: 0.95rem;
  color: #000;
}