/* Le quitamos el !important porque con CSS Modules ya no es necesario forzar la especificidad */

/* Botón morado (estado normal) */
.btnCustomMorado {
    background-color: #1B043B;
    border-color: #1B043B;
    color: white;
    transition: all 0.7s ease;
}

/* Efecto hover (invertir colores) */
.btnCustomMorado:hover {
    background-color: white;
    border-color: #1B043B;
    color: #1B043B;
}

/* Estilo BASE (normal) - Blanco con texto negro */
.btnCustomBlanco {
    background-color: white;
    border-color: #1B043B; /* Le ponemos borde morado para que sea visible */
    color: black;
    transition: all 0.3s ease;
}

/* Estilo HOVER - Morado (#1B043B) con texto blanco */
.btnCustomBlanco:hover {
    background-color: #1B043B;
    border-color: #1B043B;
    color: white;
}